* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Montserrat", sans-serif;
  }
  a {
    list-style: none;
    text-decoration: none;
    list-style-type: none;
  }
  .nav {
    background: #1b96db;
  }
  .container {
    max-width: 1200px;
    width: 100%;
  }
  .nav__content {
    padding: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 116.52%;
    color: #ffffff;
    margin-right: 162px;
  }
  .nav__links {
    display: flex;
    align-items: center;
  }
  .nav__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 116.52%;
    text-decoration-line: underline;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    margin-right: 50px;
  }
  .nav__linkk {
    color: white;
  }
  .nav__linkk:hover {
    border-bottom: 1px solid white;
  }
  .btn {
    padding: 12px 36px;
    border: 1px solid white;
    color: white;
    margin-right: 15px;
  }
  .btn:hover{
      background: white;
      color: black;
  }
  .btn__covid{
      padding: 15px 17px;
      color: white;
      background: #1789CA;
  }



footer {
    background: #1b96db;
    width: 1440px;
    height: 290px;
  }
  .footer__descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 30px;
  }
  .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .f__descr {
    font-weight: 500;
    font-size: 24px;
    line-height: 99.02%;
    color: #ffffff;
    width: 190px;
    height: 24px;
    text-align: center;
  }
  .footer__link {
    color: white;
    margin-top: 10px;
  }
  .footer__linkks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
  }
  .instagram__link{
      border-radius: 50%;
      width: 30px;
      height: 30px;
  }
  .link__circle{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
