.reference__content {
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ref__left__up {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4c4c4c;
}
.ref__descr {
  width: 321px;
  height: 204px;
  display: flex;
  justify-content: start;
}
.ref__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 99.02%;
  text-transform: uppercase;
  color: #1b96db;
  margin-bottom: 57px;
}
